body {
  font-family: Arial, sans-serif;
  background-color: #4a71ac;
  margin: 0;
  padding: 0;
}

h1 {
  color: #007BFF;
}

input {
  outline: none;
}

button {
  transition: background-color 0.3s;
}

button:hover {
  background-color: #0056b3;
}
@media (max-width: 768px) {
  div {
      flex-direction: column;
  }
  ul {
      flex-direction: row;
      flex-wrap: wrap;
  }
  ul li {
      width: 100%;
      margin: 0 auto;
  }
}
